body, html {
  /*background-color: #ededed;*/
  background: white;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}



/*<--------------------- MENU ---------------------->*/

/*.menu {
  position: absolute;
  background: white;
  height: 80px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  border-bottom: 1px solid #bfbfbf;
  box-shadow: 1px 1px rgba(191, 191, 191, 0.3);
}

.menu ul {
  margin: 0;
  padding: 0;
}

.menu li {
  list-style-type: none;
  float: left;
  padding-left: 5%;
  padding-top: 27px;
}

.menu img {
  padding-top: 5px;
  margin-right: -15px;
  margin-left: 25px;
  float: left;
  height: 70px;
}

.menu a {
  color: black;
  border-bottom: solid 2px rgba(30, 174, 219, 0);
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;

}

.menu a:hover{
  color: #1EAEDB;
  border-bottom: solid 2px rgba(30, 174, 219, 1);
}*/

.menuAtTop{
  position:fixed;
  width: 395px;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 25px;
}

.menuFixed{
  position:fixed;
  background: rgba(0, 0, 0, .60);
  margin: 0 auto;
  margin-top: 0;
  z-index: 9999;
  height: 40px;
  text-align: center;
  padding-top: 12px;
  width: 100%;
  -webkit-transition: background 0.5s ease-out;
  -moz-transition: background 0.5s ease-out;
  -o-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
}

.menuFixed ul{
    margin: 2px auto;
    margin-left: 80px;
    line-height: 2;
    padding-left: 0;
}
.menuFixed li {
    float: none;
    display: inline;
    text-align: center;
}


/*.menu ul {
  margin: 0;
  padding: 0;
}*/

.menu li{
  color: white;
  text-shadow: 1px 1px black;
  list-style-type: none;
  float: left;
  padding-right: 25px;
}

.menu a{
  color: white;
  text-decoration: none;
}

.menu a:hover{
    color: #1EAEDB;
}

.shoppingCart{
  display: block;
  color: white;
  float: right;
  margin-right: 30px;
  letter-spacing: 2px;
  font-size: 22px;
  line-height: 1;
}

.shoppingCartMenu{
  position: absolute;
  right: 0;
}

/*<--------------------- First Section ---------------------->*/

.mainImage{
  background-image: url("/images/test2.jpg");
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 1px 1px 5px black;
}

.overlay{
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .40);
}

.overlay h1 {
  position: absolute;
  font-family: 'Tangerine', cursive;
  Color: white;
  text-shadow: 1px 1px black;
  font-size: 70px;
  text-align: center;
}

.textBox{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  width: 600px;
}

.arrow{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 75px;
  width: 75px;
  bottom: 0;
  text-shadow: 1px 1px black;
}

.arrow a {
  color: white;
}

.arrow a:hover {
  color: #1EAEDB;
}
/*<--------------------- Webshop Section ---------------------->*/

#webshopSection{
  height: auto;
  box-shadow: 0 4px 2px -2px gray;
}



.title {
  position: relative;
  color: red;
  text-align: center;
  font-weight: normal;
  font-size: 35px;
  color: #386296;
  margin-top: 20px;
  margin-bottom: 30px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.title span {
  background: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.title:before {
  background: #ddd;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.title:before {
  left: 0;
}

.webshopItem{
  opacity: 0;
  padding: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.webshopItem:hover{
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.1s ease-out;
}

.webshopItem img{
  display:block;
  margin:auto;
  width: 247px;
  height: 260px;
}

.webshopItem a {
  color: black;
  margin-bottom: 5px;
  text-decoration: none;
}

.webshopItem small, h5, h4, button{
  display:block;
  margin:auto;
}

.webshopItem small{
  color: #627f9a;
  font-weight: 600;
}

.productName {
  font-size: 17px;
}

.productPrice{
  font-size: 21px;
  color: #386296;
}

/*<--------------------- service Section ---------------------->*/

#serviceSection {
  background: #1e1e23;
  height: 500px;
  color: white;
}

#serviceSection h1, h3{
  text-align: center;
  font-size: 300;
  line-height: 2.5;
  font-size: 35px;
  color: white;
  margin-bottom: 2px;
  text-shadow: -0.5px 0.5px 1px rgba(202, 202, 202, 0.5);
}

#serviceSection h3{
  font-size: 28px;
}

#serviceSection p{
  text-align: center;
  color: white;
}

.serviceColumn{
  text-align: center;
}

h6{
  color: #46BCDE;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2px;
  letter-spacing: 1px;
}

.serviceSectionIcon{
  text-align: center;
  color: white;
  font-size: 65px;
}

/*<--------------------- AboutUs Section ---------------------->*/

#aboutUsSection{
  height: 600px;
  background: white;
}

/*<--------------------- ContactUs Section ---------------------->*/
#contactUsSection{
  background: #1e1e23;
  height: 550px;
  color: white;
  padding-top: 25px;
}

#contactUsSection h1, h3{
  font-size: 300;
  line-height: 2.5;
  font-size: 35px;
  color: white;
  margin-bottom: 2px;
  text-shadow: -0.5px 0.5px 1px rgba(202, 202, 202, 0.5);
}

#contactUsSection h6{
  text-align: left;
}

#contactUsSection p{
  font-size: 13px;
  width: 80%;
}

#contactUsSection .container{
  max-width: none;
  width: 90%;
}

#contactUsSection .socialmediaIcons{
  font-size: 25px;
  letter-spacing: 2.5px;
  line-height: 0;
}

#contactUsSection .socialmediaIcons:hover{
  transition: 0.5s all;
  color: red;
}

#contactUsSection .mainText{
  font-weight: 300;
  font-size: 1.25em;
  line-height: 1.55em;
  margin-bottom: 35px;
}

.content{
  margin-top: 25px;
}

.titleIcon{
  margin-top: 2px;
  font-size: 35px;
  padding-right: 10px;
}

.contactForm {
  margin: 0 auto;
  margin-top: 130px;;
  width: 500px;
}

.contactForm input, textarea{
  color: white;
  display: block;
  border-radius: 0;
  width: 500px;
  background: none;
  border: none;
  border-bottom: solid 2px white;
  overflow: hidden;
  resize: none;
}

.contactForm input:focus{
  border: none;
  border-bottom: 2px solid #46BCDE;
  outline: none;
  animation-name: test;
  animation-duration: 0.8s;
}
.contactForm textarea:focus{
  border: none;
  border-bottom: 2px solid #46BCDE;
  outline: none;
  animation-name: test;
  animation-duration: 0.8s;
}

@keyframes test {
  from {
    width: 0px;
    margin-left: 250px;
  }
  to {
    width: 500px;
    margin-left: 0px;
  }
}

.contactForm button {
  background: #177a96;
  color: white;
  border-radius: 0;
  width: 500px;
  float: right;
  border-color: #13576b;
  box-shadow: 4px 4px 5px 0px rgba(8, 8, 8, 0.19);

}


/*<--------------------- Show Page ---------------------->*/
.titleShowPage{
  color: #386296;
  font-weight: 400;
}

.descriptionShowPage, .priceShowPage{
  text-align: start;
}

.descriptionShowPage{
  font-size: 20px;
}

.priceShowPage{
  font-weight: 400;
}

.buttonShowPage{
  margin-top: 15px;
}

/*<--------------------- shoppingCart Page ---------------------->*/

.shoppingCartImage{
  height: 125px;
  margin-right: 25px;
  margin-left: 10px;
}

table th:first-of-type {
  width: 500px;
}
td > * {
    vertical-align : middle;
}

.shoppingCartQty{
  margin-top: 20px;
  width: 55px;
}

.shoppingCartDelete{
  font-size: 32px;
  line-height: 22px;
  margin-left: 15px;
  color: #DDD;
}

.shoppingCartDelete:hover{
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: black;
}

.columns {
  margin: 0;
}

/*<--------------------- Checkout Page---------------------->*/

.checkoutH3{
  color: black;
}

.loader{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 40%;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 75px;
  height: 75px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.checkoutInput{
  width: 95%;
  display: block;
}

.checkoutInput:nth-of-type(2), .checkoutInput:nth-of-type(1) {
    width: 95%;
}

.checkoutForm{
  margin-left: 5%;
  margin-right:5%;
  width: 90%;
}

.checkoutOverlay{
  display: none;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  /*z-index:1000;*/
}

.checkoutOverlay h1, h3{
  color: white;
}

.checkoutOverlay h1{
  margin-top: 50px;
  font-size: 3em;
}

.error{
  display: none;
  width: 93%;
  height: 30px;
  padding: 10px;
  border: 1px solid red;
  background-color: #FFC5C5;
  color: black;
  vertical-align: middle;
  line-height: 30px;
  border-radius: 5px;
}

form button{
  width: 75%;
}

.four.columns{
  width: 33.33333333333333%;
}


/*<--------------------- Different Sizes Queries ---------------------->*/

@media (max-width: 750px) {
  .webshopItem img{
    width: 100%;
    height: auto;
  }
}
@media (max-width: 1000px) {
  .mainImage{
    background-position: center center;
  }
}

@media (max-width: 400px) {
  .menuFixed li, .menu li{
    display: block;
    width: 100%;
  }
  .menu{
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .textBox{
    width: 100%;
  }
  .textBox h1{
    margin-top: 5px;
    font-size: 50px;
  }
