<h1 class="title">Add product</h1>
<div class="container">
  <div class="error"></div>
  <form class="addProductForm" action="cms/addcategory" method="POST">
    <input type="text" class="categoryname  categoryInput" name="categoryName"  placeholder="Category Name">
    <textarea class="u-full-width categoryInput" name="categoryDescription" placeholder="Category Description"></textarea>
    <button class="button-primary addcategorybtn">Add Category</button>
    Public: <input type="checkbox" name="public">
  </form>
</div>
