<h1 class="title">Add product</h1>
<div class="container">
  <div class="error"></div>
  <form class="addProductForm" action="/cms/addproduct" method="post">
    <input type="text" class="addProductInput" name="productName"  placeholder="Product Name">
    <input type="text" class="addProductInput" name="productPrice" placeholder="Product Price">
    <input type="text" class="addProductInput" name="productCategory" placeholder="Product Category">
    <textarea class="u-full-width addProductInput" name="productDescription" placeholder="Product Description"></textarea>
    <strong>Add Sizes:</strong> <input class="addSizes" value='addSizes' type="checkbox" name="addSizes">
    <div class="sizeCheckBoxes">
      Extra Small:<input class="addProductInput" type="checkbox" name="xsCheckbox">
      Small: <input  type="checkbox" name="sCheckbox">
      Medium: <input type="checkbox" name="mCheckbox">
      Large: <input type="checkbox" name="lCheckbox">
      Extra Large: <input type="checkbox" name="xlCheckbox">
    </div>
    <input type="file" class="addProductInput" name="file" placeholder="Product Image">
    <input class="button-primary addProductBtn" type="submit" value="Add Product" class="submit">
  </form>
</div>
