<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>HappyLife ~ Cms</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" href="../stylesheet/cms.css">
  <script
    src="https://code.jquery.com/jquery-3.1.1.js"
    integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
    crossorigin="anonymous"></script>  <script src="../javascript/cms.js"></script>
</head>
<body>
  <div class="page">
    <div class="mainContent"></div>
    <div class="sidebar">
      <ul class="menu"><i class="fa fa-home" aria-hidden="true"></i>Dashboard</ul>
      <ul class="menu"><i class="fa fa-shopping-bag" aria-hidden="true"></i>Products<i class="arrow fa fa-sort-desc" aria-hidden="true"></i></ul>
      <li class="submenu showProducts">Show Products</li>
      <li class="submenu">Add Products</li>
      <li class="submenu">Delete Products</li>
      <ul class="menu"><i class="fa fa-list" aria-hidden="true"></i>Orders<i class="arrow fa fa-sort-desc" aria-hidden="true"></i></ul>
      <li class="submenu">All Orders</li>
      <li class="submenu">Newest Orders</li>
    </div>
  </div>
</body>
</html>
